* {
  box-sizing: border-box;
}

/* add some spacing */
body          {
  background:grey;
  padding-bottom: 30px;
  padding-top: 30px;
}

/* limit the width and center */
.calculator   {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}
.calc-button  {
  background: rgba(232, 225, 160, 0.5); /* light background with opacity 50% */
  border: 1px solid #111; /* black border */
  padding: 20px;
  color:black; /* white text */
  /* rounded corners */
  font-size: 22px; /* larger fonts */
  cursor: pointer; /* make it look clickable */
}
.calculator-buttons {
  /* small spacing within our container */
  

  /* the grid stuff! */
  display: grid;

  /* create 4 columns */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ops{
	background-color:#fa7c41 ;

}
.calculator input   {
  /* reset basic form styles */
  background:#276e6c;
  border: none;
  box-shadow: none;
  outline: none;

  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #111;
  color: #333;
  text-align: right;
  font-size: 40px;
  border-radius: 0;
}
